@import 'bulma';

.course-list {
    width: 100%;
    transition: 100ms ease;
    .course-cell {
        @include touch {
            width: 100%;
        }
        .course-box {
            background-color: #0F4D90;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: 300ms ease;
            padding: 15px;
            .course-name {
                display: flex;
                align-items: center;
                svg {
                    margin-right: 3px;
                } 
            }
        }
        .course-box:hover {
            background-color: #0e4177;
            transition: 300ms ease;
        }
        .course-box:active {
            box-shadow: none;
        }
    }
}
.less {
    transform: scaleY(0%);
    max-height: 0;
    opacity: 0;
    transition: 200ms ease;
}