@import 'bulma';

.profile-container {
    width: 100vw;
    height: 100dvh;
    background-image: url('../../public/dashboard_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
    .section-title {
        width: 100%;
        font-size: 25px;
        font-weight: 600;
        font-family: 'Roboto';
        margin-bottom: 15px;
    }
    .list {
        width: 100%;
        .badge-cell {
            @include touch {
                width: 100%;
            }
            .badge-box {
                background-color: #ffffff;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 20px;
                img {
                    width: 65px;
                    height: 70px;
                }
                .description-section {
                    color: #424242;
                    margin-left: 20px;
                    .badge-name {
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .badge-description {
                        font-size: 14px;
                    }
                }
            }
        }
        .certificate-cell {
            @include touch {
                width: 100%;
            }
            .certificate-box {
                background-color: #ffffff;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 20px;
                img {
                    width: 100px;
                    height: 100px;
                    @include touch {
                        width: 60px;
                        height: 60px;
                    }
                }
                .right {
                    height: 100%;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .course-name {
                        margin-bottom: 10px;
                        font-weight: 600;
                    }
                    .bttn {
                        @include mobile {
                            width: 110px;
                            font-size: 12px;
                        }
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
        .empty-list {
            width: 100%;
            .empty-list-entry {
                width: 100%;
                height: 200px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-radius: 20px;
                padding: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .text {
                    font-size: 18px;
                    color: #848484;
                }
                svg {
                    width: 70px;
                    height: 70px;
                    color: #c3c3c3
                }
            }
        }
    }
}