@import 'bulma';

.project-container {
    width: 100vw;
    height: 100dvh;
    background-image: url('../../public/dashboard_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
    overflow-x: hidden;

    .project-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        @include touch {
            width: 100%;
        }
        .project-title {
            width: 100%;
            font-size: 25px;
            font-weight: 600; 
            font-family: 'Roboto';
            margin-bottom: 25px;
        }
        .project-section {
            width: 100%;
            h1 {
                font-size: 20px;
                font-weight: 600;
            }
            ul {
                list-style: disc;
            }
        }

    }

}